.product-outer-box{
    display: grid;
    grid-template-columns: 45% 1% 45%;
}

.product-main-image{
    position: relative;
    height: 500px;
    width: 500px;
}

.product-detail-outer-box{
    text-align: left;
}

.prdouct-sample-image-div{
    margin-right: 20px;
}
.product-images-div{
    display: flex;
    flex-direction: row;
}
.product-sample-image-button{
    background-color: white;
    border: 0;
    padding: 0;
}

.product-sample-image{
    height: 100px;
    width: 100px;
}