.brand-outerbox{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content:center;
    align-items: center;
}

.brand-product-card{
    margin:20px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    padding:20px 10px
}


.category-icon-outer{
    position: absolute;
    top:8rem;
    /* bottom: 0; */
    right: 0;
    display: flex;
    flex-direction: column;
}

.brand-product-card:hover .category-product-icon{
    display: inline;
}

.category-product-icon{
    display: none;
    background-color: black;
    margin: 5px 15px;
    border-radius: 50%;
    padding: 10px;
}